html, body { 
  padding: 0; 
  margin: 0; 
  width: 100%; 
  height: 100%; 
  overflow: hidden;
}
#unity-container { 
  position: relative; 
  width: 100vw; 
  height: 100vh; 
}
#unity-canvas { 
  width: 100%; 
  height: 100%; 
  background: #231F20; 
  display: block;
}
#button-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: #231F20;
  z-index: 10;
  pointer-events: none;
}
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-dark.png') no-repeat center }
#unity-progress-bar-empty { margin-left: auto; margin-right: auto; width: 141px; height: 18px; margin-top: 10px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
